<div class="row justify-content-md-center text-center skills-section">
    <div class="col-sm-3 bg-white p-4">

        <i class="bi bi-code-slash text-primary mb-4"></i>

        <h3>Backend</h3>

        <p>
            Desarrollo, pruebas automáticas y puesta en producción con entrega continua.
        </p>

        <h4 class="text-primary">Stack:</h4>
        <p>ASP.NET Core, PHP, SQL Server, MySQL</p>

        <h4 class="text-primary">Experiencia:</h4>
        <ul>
            <li>Web APIs</li>
            <li>APN.NET Core MVC</li>
            <li>Entity Framework Core</li>
            <li>Blazor</li>
            <li>Dapper</li>
            <li>Principios SOLID</li>
        </ul>

    </div>

    <div class="col-sm-3 bg-white p-4">

        <i class="bi bi-braces-asterisk text-primary mb-4"></i>

        <h3>Frontend</h3>

        <p>
            Diseño robusto acorde con los requerimientos del negocio.
        </p>

        <h4 class="text-primary">Stack:</h4>
        <p>React, Angular, Blazor</p>

        <h4 class="text-primary">Experiencia:</h4>
        <ul>
            <li>React Hooks</li>
            <li>Angular Material</li>
            <li>Blazor WASM</li>
            <li>jQuery</li>
            <li>Pruebas Automáticas</li>
            <li>Leaflet</li>
            <li>Markdown</li>
        </ul>

    </div>
</div>