<div class="col col-md-7 welcome-section">
    <h1 class="mb-1">Bienvenido</h1>
    <p>
        Me dedico al desarrollo de páginas y aplicaciones web desde el 2017, trabajando desde entonces en el área de Desarrollo de Sistemas del Ministerio de Trabajo,
        siendo algunos de mis proyectos el Sistema de Gestión de Aprendizaje "Capacítate" y el desarrollo de la plantilla institucional
        utilizando WordPress.  A nivel de backend he trabajado mayormente en PHP con frameworks como Laravel y CodeIgniter. En el frontend tengo experiencia trabajado en Angular y React.
    </p>
</div>