@{
    ViewData["Title"] = "Confirmación";
}

<div class="alert alert-success text-center" role="alert">
    <h1>Mensaje enviado satisfactoriamente!</h1>
    <p>
        Gracias por ponerte en contacto conmigo. He recibido tu mensaje y lo estaré contestando lo más pronto posible.
    </p>
    <div class="text-center mt-4">
        <a asp-controller="Home" asp-action="Index">Volver al Inicio</a>
    </div>
</div>
